@import 'pages-sass/home.scss';
@import 'pages-sass/falcon-9.scss';
@import 'pages-sass/human-flight.scss';

*{
    font-family:Arial;
    margin:0;
    padding:0;
}

body{
    height:100%;
    background-color:#000;
}

.navbar{
    background-color:transparent!important;
    .navbar-brand img {
        max-width:250px!important;
    }
    ul a{
        font-size:12px;
    }
}

.btn{
    border:2px solid!important;
    font-size:18px!important;
    transition:.1s!important;

    &:hover{
        border-color:#fff!important;
        transition:.1s!important;
    }
}

.text-desc{
    color:#d8d8d8;
    font-size:20px;
    a{
        color:#928e8e;
        text-decoration:none;
    }
    & a:hover{
        color:#7a7575;
    }
}

footer{
    font-size:13px;
    background-color:#000;
    span{
        color:#555252;
    }
    a:hover{
        color:#b9b9b9!important;
    }
}
