.home-section-1 {
  overflow-x: hidden;
  background-image: url("../images/home/01.jpg");
}

.home-section-2 {
  background-image: url("../images/home/03.jpg");
}

.home-section-3 {
  background-image: url("../images/home/02.gif");
}

.home-section-4 {
  background-image: url("../images/home/04.jpg");
}

.home-section-1, .home-section-2, .home-section-3, .home-section-4 {
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.home-section-1 .row, .home-section-2 .row, .home-section-3 .row, .home-section-4 .row {
  min-height: 100vh !important;
}

.arrow {
  width: 100px;
}

@media (max-width: 550px) {
  .home-section-1 p {
    font-size: 17px;
  }

  .home-section-1 .row {
    min-height: 80vh !important;
  }
}
@media (max-width: 990px) {
  .home-section-1 p {
    font-size: 17px;
  }

  .home-section-1 .row {
    min-height: 80vh !important;
  }
}
.falcon-section-1 {
  background-image: url("../images/falcon-9/01.jpg");
}

.falcon-section-2 {
  background-image: url("../images/falcon-9/02.jpg");
}

.falcon-section-4 {
  background-image: url("../images/falcon-9/08.jpg");
}

.falcon-section-1 .row, .falcon-section-2 .row, .falcon-section-4 .row {
  min-height: 100vh !important;
}

.falcon-section-1, .falcon-section-2, .falcon-section-3, .falcon-section-4 {
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.falcon-section-3 .content {
  margin: 180px 0px 0px 80px;
}
.falcon-section-3 .table {
  width: 500px;
}
.falcon-section-3 p {
  width: 500px;
}
.falcon-section-3 .second {
  margin: 150px 0px 0px 80px !important;
}

.falcon-section-4 p {
  font-size: 18px;
}

.falcon-section-1 .content {
  margin-bottom: 270px !important;
}
.falcon-section-1 h1 {
  font-size: 8em !important;
}

.falcon-section-2 p {
  font-size: 23px;
  line-height: 50px;
}

@media (max-width: 688px) {
  .falcon-section-1 h4 {
    font-size: 16px !important;
  }
  .falcon-section-1 h1 {
    font-size: 3em !important;
  }

  .falcon-section-2 p {
    font-size: 18px;
    line-height: 40px;
  }

  .falcon-section-3 {
    height: 50vh;
  }
  .falcon-section-3 .carousel-inner {
    height: 60vh;
  }
  .falcon-section-3 .content {
    margin: 0px 0px 0px 80px;
  }
  .falcon-section-3 .table {
    width: 300px;
  }
  .falcon-section-3 p {
    width: 250px;
    font-size: 12px;
  }
  .falcon-section-3 .second {
    margin: 0px 0px 0px 80px !important;
  }
  .falcon-section-3 td {
    font-size: 12px;
  }
  .falcon-section-3 h2 {
    font-size: 15px;
  }
  .falcon-section-3 h6 {
    font-size: 10px;
  }

  .falcon-section-4 p {
    font-size: 15px;
  }
  .falcon-section-4 .table td {
    font-size: 15px;
  }
}
.contact-falcon {
  height: 100vh;
  max-height: 100vh;
}
.contact-falcon .container {
  min-height: 100vh !important;
}

.falcon-section-5 img {
  max-height: 100vh;
  background-size: cover;
  background-position: center;
}

.last-carousel {
  bottom: 10%;
  width: 1100px;
  max-width: 95%;
  background-color: #000 !important;
}

@media (max-width: 550px) {
  .falcon-section-1 h1 {
    margin-top: 80px;
  }

  .last-carousel {
    max-width: 95% !important;
  }

  .text-desc {
    font-size: 17px;
  }
}
@media (max-width: 990px) {
  .last-carousel {
    max-width: 85%;
    background-color: #fff;
  }
}
.human-section-1 {
  background-image: url("../images/human-flight/01.jpg");
}

.human-section-2 {
  background-image: url("../images/human-flight/02.jpg");
}

.human-section-3 {
  background-image: url("../images/human-flight/03.jpg");
}

.human-section-4 {
  background-image: url("../images/human-flight/04.jpg");
}

.human-section-5 {
  background-image: url("../images/human-flight/05.jpg");
}

.human-section-1, .human-section-2, .human-section-3, .human-section-4, .human-section-5 {
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.human-section-1 .row, .human-section-2 .row, .human-section-3 .row, .human-section-4 .row, .human-section-5 .row {
  min-height: 100vh !important;
}

.human-section-1 .content {
  margin-bottom: 270px !important;
}
.human-section-1 h1 {
  font-size: 8em !important;
}

@media (max-width: 1028px) {
  .human-section-1 h1 {
    font-size: 5em !important;
  }
}
@media (max-width: 688px) {
  .human-section-1 h4 {
    font-size: 16px !important;
  }
  .human-section-1 h1 {
    font-size: 3em !important;
  }

  .section-whatever p, .section-whatever a {
    font-size: 15px;
  }
}
* {
  font-family: Arial;
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  background-color: #000;
}

.navbar {
  background-color: transparent !important;
}
.navbar .navbar-brand img {
  max-width: 250px !important;
}
.navbar ul a {
  font-size: 12px;
}

.btn {
  border: 2px solid !important;
  font-size: 18px !important;
  transition: 0.1s !important;
}
.btn:hover {
  border-color: #fff !important;
  transition: 0.1s !important;
}

.text-desc {
  color: #d8d8d8;
  font-size: 20px;
}
.text-desc a {
  color: #928e8e;
  text-decoration: none;
}
.text-desc a:hover {
  color: #7a7575;
}

footer {
  font-size: 13px;
  background-color: #000;
}
footer span {
  color: #555252;
}
footer a:hover {
  color: #b9b9b9 !important;
}

/*# sourceMappingURL=style.css.map */
